azure-core==1.30.2
azure-functions==1.20.0
azure-identity==1.17.1
azure-storage-blob==12.21.0
certifi==2024.7.4
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==43.0.0
greenlet==3.0.3
idna==3.7
isodate==0.6.1
msal==1.30.0
msal-extensions==1.2.0
numpy==2.0.1
pandas==2.2.2
portalocker==2.10.1
psycopg2-binary==2.9.9
pycparser==2.22
PyJWT==2.8.0
python-dateutil==2.9.0.post0
pytz==2024.1
requests==2.32.3
six==1.16.0
SQLAlchemy==2.0.31
typing_extensions==4.12.2
tzdata==2024.1
urllib3==2.2.2
