azure-functions==1.15.0
azure-core==1.30.2
azure-identity==1.17.1
azure-storage-blob==12.22.0
pandas==2.2.2
SQLAlchemy==2.0.32
numpy==2.1.0
certifi
cffi
charset-normalizer
cryptography
greenlet
idna
isodate
msal
msal-extensions
portalocker
psycopg2-binary
pycparser
PyJWT
python-dateutil
pytz
requests
six
typing_extensions
tzdata
urllib3
lxml
beautifulsoup4
